<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{if .IsHome}}{{ $.Site.Title }}
		{{else}}{{.Title}}{{end}}
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap" rel="stylesheet">
	<link href="https://mastodon.social/@_jocmp" rel="me">
	{{if .IsHome}}
	<meta property="og:url" content="https://capyreader.com" />
	<meta property="og:type" content="website" />
	<meta property="og:logo" content="https://capyreader.com/capy.png" size="500x500" />
	<meta property="og:image" content="https://capyreader.com/featured-image.png" />
	<meta property="og:image:width" content="1024" />
	<meta property="og:image:height" content="500" />
	{{end}}
	<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
	<meta itemprop="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
	<meta property="og:description"
		content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	{{ $sass := resources.Get "style/main.scss" }}
	{{ $style := $sass | css.Sass }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
	{{ block "main" . }}{{ end }}
</body>

</html>
