:root {
  --primary-color: #8A7D3F;
  --secondary-color: #f9f7f0;
  --text-color: #1e2019;
  --max-width: 600px;
}



html {
  background: var(--primary-color);
}

body {
  color: var(--text-color);
  font-family: "Lora", serif;
}

a:link {
  color: var(--text-color);
}

a:visited {
  text-decoration: outline;
  color: var(--text-color);
}

main {
  min-height: 60vh;
  padding: 2rem 5% 3.75rem 5%;

  h1 {
    font-size: 1.802rem;
    font-family: "Roboto", sans-serif;
  }

  h2 {
    font-size: 1.602rem;
    font-family: "Roboto", sans-serif;
  }
}

header,
main {
  max-width: var(--max-width);
}

header,
main {
  background: var(--secondary-color);
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-right: 0.5rem;
  gap: 0.5rem;
  color: var(--secondary-color);
  max-width: calc(var(--max-width) + 10%);

  p {
    margin: 0;
  }

  a:link, a:visited {
    color: var(--secondary-color);
  }
}

.social-link__github {
  width: 1.5rem;
}

.store-button {
  height: 3rem;
}
