---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Donate"
  description="Support Capy Reader development - help keep the app free and ad-free."
>
  <div>
    <h1>Donate</h1>
    <p>
      By donating you're helping keep Capy Reader free and free of ads. Thanks!
    </p>

    <a href="https://ko-fi.com/capyreader" target="_blank">
      <img
        src="https://storage.ko-fi.com/cdn/kofi6.png?v=3"
        alt="Buy Me a Coffee at ko-fi.com"
        height="48"
      />
    </a>
  </div>


</Layout>
