---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <div>
    <h1>Privacy Policy</h1>
    <p>
      This policy describes the information that the Capy Reader app may collect
      and how that information is handled.
    </p>
    <p>
      Capy Reader only collects crash reports via <a
        href="https://firebase.google.com/">Firebase Crashlytics</a
      > for users who opt in. Crash logs only include the stack trace of the crash,
      the app and device version, as well as the time and date the crash occurred.
      These logs contain no private information such as emails or IP addresses.
    </p>
    <h2>Contact</h2>
    <p>
      If you have any questions or comments about this privacy policy, please
      reach out to <a href="mailto:support@jocmp.com">support@jocmp.com</a>.
    </p>
  </div>
</Layout>
